<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link  th:href="@{/layui/css/layui.css}" rel="stylesheet" media="all">
    <script src="JQ/jquery-3.3.1.min.js" th:src="@{/layui/layui.js}"></script>
    <script src="" th:src="@{/js/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>查询用电</title>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <style>
        html{font-size:100%;}
        .lz{
            margin: 100px auto;
            width: 300px;
        }
        #btn{
            position: relative;
            padding-top: 40px;
            padding-left: 50%;
        }
        #bd{
            margin: 50px auto auto auto;
            width: 350px;
        }
    </style>
</head>
<body>
<div th:replace="commons/bar::topbar"></div>
<div class="lz">
    <form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">楼栋</label>
        <div class="layui-input-block">
            <select name="loudong"  id="loudong" lay-verify="required">
                <option value=""></option>
                <option value="01" >学1A</option>
                <option value="02" >学1B</option>
                <option value="03" >学1C</option>
                <option value="04" >学1D</option>
                <option value="05" >学2A</option>
                <option value="06" >学2B</option>
                <option value="07" >学2C</option>
                <option value="08" >学2D</option>
                <option value="09" >学3A</option>
                <option value="10" >学3B</option>
                <option value="11" >学3C</option>
                <option value="12" >学3D</option>
                <option value="13" >学4A</option>
                <option value="14" >学4B</option>
                <option value="15" >学4C</option>
                <option value="16" >学4D</option>
                <option value="17" >学5A</option>
                <option value="18" >学5B</option>
                <option value="19" >学5C</option>
                <option value="20" >学5D</option>
                <option value="21" >学6A</option>
                <option value="22" >学6B</option>
                <option value="23" >学6C</option>
                <option value="24" >学6D</option>
                <option value="25" >学7A</option>
                <option value="26" >学7B</option>
                <option value="27" >学7C</option>
                <option value="28" >学8A</option>
                <option value="29" >学8B</option>
                <option value="30" >学8C</option>
                <option value="31" >学9A</option>
                <option value="32" >学9B</option>
                <option value="33" >学9C</option>
                <option value="34" >学10</option>
                <option value="35" >学11</option>
                <option value="36" >学12</option>
            </select>
        </div>
        <br/>
        <br/>
        <label class="layui-form-label">宿舍号</label>
        <div class="layui-input-block">
            <input type="text" name="sushe" id="sushe" required  lay-verify="required" placeholder="请输入宿舍号" autocomplete="off" class="layui-input">
        </div>
        <!-- <button class="layui-btn" lay-submit="" lay-filter="add" value="查询"> </button>  巨特么毒！！！！layui坑壁！！！！-->
                <div id="btn"><input type="button" class="layui-btn" lay-submit="" lay-filter="add" value="查询"></input>
        </div>
    </div>
    </form>

    <p id="now" style="font-size: 20px">剩余电力：</p>
    <table class="layui-table" id="bd">
        <colgroup>
            <col width="150">
            <col width="200">
        </colgroup>
        <thead>
        <tr>
            <th>时间</th>
            <th>用电量</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    </div>
</body>
<script>

    layui.use('element', function(){
        var element = layui.element;

        //…
    });

    layui.use('form', function() {
        var form = layui.form;

        form.on('submit(add)',function (data) {
            $.ajax({
                url:'[[@{/work/query}]]',
                aync:true,
                contentType:"application/x-www-form-urlencoded",
                data:{'loudong':$("#loudong").val(),'sushe':$("#sushe").val()},
                dataType:'json',
                type:"GET",
                success:function (data) {
                    var i = 0;
                    var txt2="";
                    $("#tbody").empty();
                    $("#now").html("剩余电力："+data.balance+"千瓦·时");
                    $.each(data.data,function(index,value) {
                        txt2 += "<tr><td>"+data.data[index].date+"</td><td>"+data.data[index].usage+" 千瓦·时</td><tr/>";
                        i++;
                        if (i == 20) {
                            return false;
                        }
                    })
                    $("#tbody").append(txt2);
                }
            }

            )
            return false;
        });
    })

</script>
</html>